{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8">
                <div class="card border-0 shadow">
                    <div class="card-body p-4">
                        <h1 class="h3 mb-4">Réinitialiser le mot de passe envoyé par e-mail</h1>
                        <p class="mb-4">
                            S'il existe un compte correspondant à votre adresse e-mail, un e-mail a été envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                        </p>
                        <p class="mb-0">
                            Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de spam ou <a href="{{ path('app_forgot_password_request') }}">Réessayez</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
