{% extends 'base.html.twig' %}

{% block title %}Hello PresentationShoeController!{% endblock %}

{% block body %}

  <div class="container mt-5">
    <div class="card">
      <div class="row">
        <div class="col-md-5">
          <img src="{{ asset('/images/shoes/6423191a5a51d505987072.png') }}" alt="Nom de l'image" class="card-img-top basket-image">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h1 class="card-title basket-name">Nike air</h1>
            <p class="card-text basket-category">Catégorie: <span>Life style</span></p>
            <p class="card-text basket-sexe">Sexe: <span>Unisexe</span></p>
            <p class="card-text basket-price">Prix: <span>100€</span></p>
            <div class="input-group mb-3">
              <label class="input-group-text" for="sizes">Tailles disponibles:</label>
              <select class="form-select">
                <option>36</option>
                <option>36.5</option>
                <option>37</option>
                <option>37.5</option>
                <option>38</option>
                <option>38.5</option>
                <option>39</option>
                <option>39.5</option>
                <option>40</option>
                <option>40.5</option>
                <option>41</option>
                <option>41.5</option>
                <option>42</option>
                <option>42.5</option>
                <option>43</option>
                <option>43.5</option>
                <option>44</option>
                <option>44.5</option>
                <option>45</option>
                <option>45.5</option>
                <option>46</option>
                <option>46.5</option>
                <option>47</option>
                <option>47.5</option>
                <option>48</option>
              </select>
              </div>
              <div>
                <button class="btn btn-primary bouton-add" type="button">Ajouter au panier</button>
              </div>
            </div>
            <p class="card-text basket-quantity">Quantité en stock: <span>10</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}